* {
  background-color: black;
  color: whitesmoke;
  font-family: 'Poppins', sans-serif;
}

.welcome {
  text-align: center;
}

.headerText {
  font-family: 'Press Start 2P', cursive;
  color: rgb(240, 9, 220);
}

/*Card Styling*/

.catCardBody {
  margin-top: auto;
}

img {
  width: 200px; /* You can set the dimensions to whatever you want */
  height: 200px;
  object-fit: cover;
}
