* {
  background-color: black;
  color: whitesmoke;
  font-family: 'Press Start 2P', cursive;
}

.welcome {
  text-align: center;
}

.headerText {
  font-family: 'Press Start 2P', cursive;
  color: rgb(240, 9, 220);
  text-align: center;
  margin: 2em;
}

/*Card Styling*/

.catCardBody {
  margin-top: auto;
}

.catCardImage {
  width: 5em;
  height: 15em;
  object-fit: cover;
}

.battleCardImage {
  width: 7em;
  height: 7em;
  object-fit: contain;
}

.battleCard {
  max-width: 70%;
  margin: auto;
}

.healthBarMaster {
  background-color: rgb(218, 218, 218);
}

.healthBarHigh {
  background-color: green;
}

.healthBarMedium {
  background-color: orange;
}

.healthBarLow {
  background-color: red;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
	transform: scale(1);
	animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}

.attaccButtons {
  max-width: 50%;
  margin: auto;
  margin-top: 5px;
}

.buttonColumn {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

/*LeaderBoard*/

.leaderHeader {
  font-family: 'Press Start 2P', cursive;
  color: rgb(148, 10, 136);
  text-align: center;
  margin: 1em;
}

.gameOverHeader {
  font-family: 'Press Start 2P', cursive;
  color: rgb(240, 9, 220);
  text-align: center;
  margin: .5em;
  font-size:6em;
}

table {
  font-family: 'Press Start 2P', cursive;
}

th {
  font-size: x-large;
}

td {
  font-size: large;
}

.tableContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-family: 'Press Start 2P', cursive; 
}

#playAgainBtn {
  max-width: 30%;
  align-self: center;
  margin: 3em;
}

.gameResultMsg {
  font-family: 'Reggae One', cursive;
}