* {
  color: whitesmoke;
  font-family: 'Press Start 2P', cursive;
}

body, html {
  background-color: black;
}

.welcome {
  text-align: center;
}

.headerText {
  font-family: 'Press Start 2P', cursive;
  color: rgb(240, 9, 220);
  text-align: center;
  padding: 2em;
}

#chooseWarrior {
  font-size: 2.5em;
}

#battlegroundHeader {
  font-size: 2.5em;
}

/*Card Styling*/

.catCardBody {
  margin-top: auto;
  text-align: center;
}

.catCardImage {
  width: 5em;
  height: 15em;
  object-fit: cover;
}

.battleCardImage {
  width: 10em;
  height: 20em;
  object-fit: cover;
}

.battleCard {
  max-width: 70%;
  margin: auto;
  text-align: center;
}

.warriorCol {
  margin-right: 1.5em;
  margin-left: 1.5em;
}

.warriorCard {
  transition: all .2s ease-in-out; 
  margin-right: 0.7em;
  margin-left: 0.7em;
  margin-bottom: 1.5em;
  margin-top: 1.5em;
}

.warriorCard:hover { 
transform: scale(1.1); 
}

.catCardContainer {
  max-width: 80%;
}

.healthBarMaster {
  background-color: rgb(218, 218, 218);
}

.healthBarHigh {
  background-color: green;
}

.healthBarMedium {
  background-color: orange;
}

.healthBarLow {
  background-color: red;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
	transform: scale(1);
	animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}

.attaccButtons {
  max-width: 50%;
  margin: 1em;
}

.buttonColumn {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

/*LeaderBoard*/

.leaderHeader {
  font-family: 'Press Start 2P', cursive;
  color: rgb(180, 14, 166);
  text-align: center;
  margin: 1em;
}

.gameOverHeader {
  font-family: 'Press Start 2P', cursive;
  color: rgb(240, 9, 220);
  text-align: center;
  margin: .5em;
  font-size:6em;
}

table {
  font-family: 'Press Start 2P', cursive;
  border-spacing: 0;
  border-collapse: 0;
  padding: 0;
  margin-left: 2em;
  border: 0;
  width: 100%;
}

tbody {
  padding: 0;
  margin: 0;
  border: 0;
}

thead {
  padding: 0;
  margin: 0;
  border: 0;
}

th {
  font-size: x-large;
  padding: 0;
  margin: 0;
  border: 0;
}

td {
  font-size: large;
  text-align: center;
  padding: 0;
  margin: 0;
  border: 0;
}

.tableContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-family: 'Press Start 2P', cursive; 
}

#playAgainBtn {
  max-width: 30%;
  align-self: center;
  margin: 3em;
}

#goHomeBtn {
  max-width: 30%;
  align-self: center;
  margin: 1em;
}

.gameResultMsg {
  font-family: 'Reggae One', cursive;
}

#catScratchPic {
  height: 15em;
  margin-bottom: 5em;
}

#loginContainer {
  text-align: right;
}

#loginButton {
  text-align: right;
}

.userScoreHighlight {
  color: rgb(0, 255, 136);
}

#instructionBtn {
  display:flex;
  justify-content: center;
  margin-bottom: 2em;
}

#attaccButtonDiv {
  align-self: center;
}

#superAttaccButton {
  align-self: center;
  margin-bottom: 2em;
}

.damage {
  animation: shake 2.5s;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  /* 5% {transform: translate(-0.5px, -1px) rotate(-0.5deg)} */
  10% { transform: translate(-1px, -2px) rotate(-1deg)}
  15% {transform: translate() rotate()}
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.attacc-btn{
  text-align: center;
  display: inline-block;
  margin: 1em;
  font-weight: bold;
  padding: 10px 10 10px 10px ;
  background-color: rgb(0, 0, 0);
  text-shadow: -1px -1px rgb(107, 105, 105), 1px 1px rgb(240, 9, 220);
  color: rgb(255, 255, 255);
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -o-border-radius: 7px;
  border-radius: 7px;
  box-shadow: 0 .2em rgb(187, 7, 172); 
  cursor: pointer;

}

.attacc-btn:active {
box-shadow: none;
position: relative;
top: .2em;
}

.superAttacc-btn{
  text-align: center;
  display: inline-block;
  margin: 1em;
  font-weight: bold;
  padding: 10px 10 10px 10px ;
  background-color: rgb(240, 9, 220);
  text-shadow: -1px -1px rgb(119, 6, 110), 1px 1px rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -o-border-radius: 7px;
  border-radius: 7px;
  box-shadow: 0 .2em rgb(119, 6, 110); 
  cursor: pointer;

}

.superAttacc-btn:active {
box-shadow: none;
position: relative;
top: .2em;
}

.enter-btn{
  text-align: center;
  display: inline-block;
  margin: 1em;
  font-weight: bold;
  font-size: x-large;
  padding: 3em ;
  background-color: rgb(0, 0, 0);
  text-shadow: -1px -1px rgb(107, 105, 105), 1px 1px rgb(240, 9, 220);
  color: rgb(255, 255, 255);
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -o-border-radius: 7px;
  border-radius: 7px;
  box-shadow: 0 .2em rgb(187, 7, 172); 
  cursor: pointer;

}

.enter-btn:active {
box-shadow: none;
position: relative;
top: .2em;
}

#gatewayContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 18%;
}

#battlegroundDiv {
  background-color: none;
  background-size: cover;
}

#battlegroundContainer {
  background-color: none;
}

.blackBackground {
  background-color: black;
}

span {
  color: rgb(240, 9, 220)
}

.superAttaccSpin {
  animation: shake 2.5s, spin 2.5s linear;
}


@keyframes spin { 
  50% { 
    transform: 
    rotateY(90deg); 
  } 
}
@keyframes spin { 
  50% { 
    transform: rotateY(90deg); 
  } 
}
@keyframes spin { 
  50% { 
    transform: rotateY(90deg); transform:rotateY(90deg); 
  } 
}